.container-text {
    display: flex;
    flex-direction: column;
}

nav.theme-dark.menu-sticky.menu-on-scroll,
nav.theme-dark.menu-sticky.menu-on-scroll ul.links-wrapper.active { background-color: var(--trans-000) }
nav.theme-dark.menu-sticky.menu-on-scroll,
nav.theme-dark.menu-sticky.menu-on-scroll ul.links-wrapper.active { background-color: var(--trans-000) }
nav.theme-dark,
nav.theme-dark ul.links-wrapper.active { background-color: var(--trans-000) }

.section-selector-1 {
    background-color: rgb(141, 68, 190);;
}

.section-selector-2 { font-family: 'Playfair Display', serif }

.logo{
    position: relative;
    width: 90%;
}
.suit {
    position: absolute;
    top: 89%;
    right: 68%;
    width: 90%;
    z-index: 1;
}

header .col-text h1 {
    font-size: calc(var(--font-size-xxl) * 1.4);
    letter-spacing: -1px;
    line-height: 1.2;
}
header.cols-2-half{
    background-color: white;
}
nav.theme-light, nav.theme-light ul.links-wrapper.active {
    background-color: rgb(228, 213, 44);
}