.container-text {
    display: flex;
    flex-direction: column;
}
.fire {
    transform: translateY(10%); 
    z-index: -2;

}
.canadaire {
    transform: translateY(-50%) translateX(-310%);
    position: absolute;
    width: 20vw;
}
.smoke {
    /* retourner */
    transform: rotate(180deg) translateY(10%) translateX(190%);
    /* placer en arriere plan */
    z-index: -1;
    position: absolute;
    width: 40vw;
}
.truck {
    transform: translateY(50%) translateX(110%); 
    position: absolute;
    width: 20vw;
    right: 0;
    bottom: 1;
}
.fighter {
    transform: translateY(50%) translateX(110%); 
    position: absolute;
    width: 15vw;
    right: 0;
    bottom: 1;
}

nav.theme-dark.menu-sticky.menu-on-scroll,
nav.theme-dark.menu-sticky.menu-on-scroll ul.links-wrapper.active { background-color: var(--trans-000) }
nav.theme-dark.menu-sticky.menu-on-scroll,
nav.theme-dark.menu-sticky.menu-on-scroll ul.links-wrapper.active { background-color: var(--trans-000) }
nav.theme-dark,
nav.theme-dark ul.links-wrapper.active { background-color: var(--trans-000) }


.section-selector-2 { font-family: 'Playfair Display', serif }

